# Python environments
env/
.venv/
__pycache__/
*.pyc

# BirdNET model files (they're large + not yours to distribute)
BirdNET-Analyzer/BirdNET_GLOBAL_MODEL/

# Output & logs
/data/*.csv
/outputs/
*.log

# OS and editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Notebooks checkpoints (if used)
.ipynb_checkpoints/

# Recording data
/recordings

#database
/db
chorusAvery.db
BirdNET-Analyzer
